name: Push Helm Charts (Local & Mirror) to GHCR
on:
  workflow_dispatch:
    inputs:
      chart_paths:
        description: 'Local paths (./charts/app) or external references (bitnami/apache)'
        required: true
        type: string
      external_repo_url:
        description: 'External URL (Opcional)'
        required: false
        type: string

env:
  REGISTRY: ghcr.io

jobs:
  push-helm-charts:
    runs-on: windows-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v3
      
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Process and push helm charts
        shell: pwsh
        run: |
          $inputPaths = "${{ github.event.inputs.chart_paths }}" -split ',' | ForEach-Object { $_.Trim() }
          $repoUrl = "${{ github.event.inputs.external_repo_url }}"
          $packageDir = "$env:TEMP\helm-packages"
          $downloadDir = "$env:TEMP\helm-downloads"
          $owner = "${{ github.repository_owner }}".ToLower()
          
          if (-not (Test-Path $packageDir)) { New-Item -ItemType Directory $packageDir }
          if (-not (Test-Path $downloadDir)) { New-Item -ItemType Directory $downloadDir }

          if (-not [string]::IsNullOrWhiteSpace($repoUrl)) {
            helm repo add external $repoUrl
            helm repo update
          }

          foreach ($path in $inputPaths) {
            Write-Host "`n════════════════════════════════════════"
            Write-Host "Processing: $path"
            
            $finalChartPath = ""
            if (Test-Path -Path $path -PathType Container) {
              $finalChartPath = Resolve-Path $path
            } elseif ($path -match "/") {
              $chartNameOnly = ($path -split '/')[-1]
              helm pull $path --untar --destination $downloadDir
              $finalChartPath = Join-Path $downloadDir $chartNameOnly
            }

            $chartYamlPath = Join-Path $finalChartPath "Chart.yaml"
            if (Test-Path $chartYamlPath) {
                $cName = (Select-String -Path $chartYamlPath -Pattern '(?<=name:\s*).+').Matches.Value.Trim()
                $cVer = (Select-String -Path $chartYamlPath -Pattern '(?<=version:\s*).+').Matches.Value.Trim()
                
                $cNameLower = $cName.ToLower()

                helm package $finalChartPath --destination $packageDir
                $pkgFile = Join-Path $packageDir "$cName-$cVer.tgz"
                
                Write-Host "Pushing a: oci://${{ env.REGISTRY }}/$owner/$cNameLower"
                helm push $pkgFile "oci://${{ env.REGISTRY }}/$owner" 
                
                Write-Host "✓ Completado: $cName ($cVer)"
            }
          }